/*------------------------------------------------------*/
/*BASIC SET-UP*/
/*------------------------------------------------------*/


/*STANDARD GREEN: rgb(87, 168,123)
DARKER GREEN rgb(62, 121, 89) */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*------------------------------------------------------*/
/*Reusable Content*/
/*------------------------------------------------------*/

html {
    background-color: #fff;
    color: rgb(88, 88, 88);
    /*font-family: 'rokkitt', 'courier', serif; */
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1440px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}
.box {
    padding: 1%;
}

/*---------------H_----------------*/

.T1Gold {
    color: rgb(207, 184, 124);
    font-weight: 100;
}

.T1Green {
    color: rgb(87, 168, 123);
    font-weight: 100;
}


h1,
h2,
h3 {
font-size: 240%;
text-transform: uppercase;
margin-left: 2px;

}
h1{
    margin-bottom: 20px;
    margin-top: 20px;
    margin: 0;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 10;
}
h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
    font-family: 'rokkitt', 'courier', serif;
    font-weight: 300;
}
h3{
    font-size: 110%;
    margin-bottom: 15px;
    font-weight: 300;
}


h2:after {
    display: block;
    height: 4px;
    background-color:rgb(87, 168, 123);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.h1-accent1 {
    color: rgb(87, 168, 123)
}
/*-----------PARAGRAPHS------------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/*-----------LINKS------------*/
a {
    text-decoration: none;
}
/*-----------ICONS------------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: rgb(87, 168, 123);
    margin-bottom: 15px;
}

.icon-small {
    font-size: 110%;
    color: rgb(87, 168, 123);
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -5px;
}
/*-----------BUTTONS------------*/

.btn {
    margin-top: 20px;
}
.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: rgb(87, 168, 123);
    border: 1px solid rgb(87, 168, 123);
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid rgb(87, 168, 123);
    color: rgb(87, 168, 123);
}

.btn:hover,
.btn:active {
    background-color: rgb(62, 121, 89);
}
.btn-full:hover,
.btn-full:active {
   border: 1px solid rgb(62, 121, 89);
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid rgb(62, 121, 89);
    color: #fff;
}

/*------------------------------------------------------*/
/*Header*/
/*------------------------------------------------------*/

header {
    background-image: -o-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/hero-min.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/hero-min.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo {
    height: 70px;
    width: auto;
    float:left;
    margin-top: 20px;
    margin-left: 10px;
}
.logo-horz {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 10px;
}

/* MAIN NAVI */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 15px;

}
.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;

}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid rgb(62, 121, 89);
}

/* STICKY NAVI */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.945);
    -webkit-box-shadow: 0 2px 2px rgba(255, 255, 255, 0.959);
            box-shadow: 0 2px 2px rgba(255, 255, 255, 0.959);
    z-index: 9999;
}

.sticky .main-nav { margin-top: 19px; }
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 30px 0px;
    color: #555;
}
.sticky .logo { display: none; }
.sticky .logo-horz { display: block; }


/* Mobile Nav  */

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon-1 {
    color: #fff;
    font-size: 200%;
}

/*------------------------------------------------------*/
/*features*/
/*------------------------------------------------------*/
.lrc-rsc .long-copy {
    margin-bottom: 30px;
}

.lrc-rsc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

/*------------------------------------------------------*/
/*CU Denver*/
/*------------------------------------------------------*/

.UCD-section {
    padding: 0;
}

.ucd-showcase {
    list-style: none;
    width: 100%;
}
.ucd-showcase li {
    display: block;
    float: left;
    width: 25%;
}

.ucd-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}
.ucd-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    -o-transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.ucd-photo img:hover {
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03);
    opacity: 1;
}


/*------------------------------------------------------*/
/*Sign-Up Section*/
/*------------------------------------------------------*/

.section-steps {
    background-color: rgb(223, 223, 223);
}
.steps-box:first-child {
    text-align: right;
    padding-right: 3%;
    margin-top: 5px;
}
.steps-box:last-child {
    padding-left: 3%;
    margin-top: 70px;
}

.nav-screen {
    width: 110%;
    margin-top: 50px;
}

.works-step {
    margin-bottom: 50px;

}
.works-step:last-of-type {
    margin-bottom: 60px;
}
.works-step div {
    color:rgb(87, 168, 123);
    border: 2px solid rgb(87, 168, 123);
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img {
    height: 70px;
    width: auto;
    margin-left: -10px;
}

/*------------------------------------------------------*/
/*Course Section*/
/*------------------------------------------------------*/

.box img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}
.course-feature {
    margin-bottom: 15px;
}

/*------------------------------------------------------*/
/*Testimonials*/
/*------------------------------------------------------*/
.section-testimonials {
    background-image: -o-linear-gradient(rgba(0,0,0,0.8), rgb(0,0,0,0.8)), url(img/testimonials-back-min.jpg);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.8)), to(rgb(0,0,0,0.8))), url(img/testimonials-back-min.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.8), rgb(0,0,0,0.8)), url(img/testimonials-back-min.jpg);
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
blockquote {
    position: relative;
    font-size: 90%;
    font-style: italic;
    padding: 2%;
}
cite {
    font-size: 60%;
    margin-top: 20px;
    display: block;
}
cite img {
    height: 60px;
    width: auto;
    border-radius: 50%;
    vertical-align: middle;
    padding: 2%;
}

blockquote:before {
    content: "\201C";
    font-size: 500%;
    display: block;
    position: absolute;
    top: -40px;
    left: -5px;
}

/*------------------------------------------------------*/
/*Options*/
/*------------------------------------------------------*/

/*-----------OPTIONS1------------*/

.section-options1 {
    background-color: rgb(230, 228, 228);

}
.option-box {
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    -webkit-box-shadow: 0 2px 2px rgb(233, 232, 232);
            box-shadow: 0 2px 2px rgb(233, 232, 232);
    margin-left: 5%;
}
.option-box div {
    border-bottom: 1px solid rgb(219, 219, 219);
    padding: 15px;

}
.appt-type {
    font-size: 250%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color:rgb(87, 168, 123);
    margin-bottom: 10px;
    font-weight: 100;
}
.appt-type span {
    font-size: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.option-box h3 {
    font-family: 'rokkitt', 'courier', serif;
}
.option-box ul {
    list-style: none;
}
.option-box div:last-child {
    text-align: center;
    border: none;
}
.option-box div:first-child {
    background-color:rgb(238, 237, 237);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.option-box div:last-child {
    text-align: center;
    border: none;
}

.option-box ul li {
    padding: 5px 0;
}

.option-box a {
    text-align: center;
}
/*-----------OPTIONS2------------*/
.optbox2 {
    width: 70%;
    margin-left: 15%;
}
.opt2 h2:after {
    display: block;
    height: 4px;
    background-color:rgb(207, 184, 124);
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}
.opt2 p {
    color: rgb(207, 184, 124);
}
.opt2 .btn-full:link,
.opt2 .btn-full:visited {
    background-color: rgb(207, 184, 124);
    border: 1px solid rgb(207, 184, 124);
}
.opt2 .btn-ghost:link,
.opt2 .btn-ghost:visited {
    border: 1px solid rgb(207, 184, 124);
    color: rgb(207, 184, 124);
}

.opt2 .btn:hover,
.opt2 .btn:active {
    background-color: rgb(180, 160, 107);
}
.opt2 .btn-full:hover,
.opt2 .btn-full:active {
    border: 1px solid rgb(180, 160, 107);
}

.opt2 .btn-ghost:hover,
.opt2 .btn-ghost:active {
    border: 1px solid rgb(180, 160, 107);
    color: #fff;
}
.opt2 .icon-small {
    color: rgb(207, 184, 124);
}

/*------------------------------------------------------*/
/*Footer*/
/*------------------------------------------------------*/
footer {
    background-color: #333;
    padding: 40px;
    font-size: 80%;
}
.footer-nav {
    list-style: none;
    float:left;
}
.social-icons {
    list-style: none;
    float: right;
}
.footer-nav li,
.social-icons li{
    display: inline-block;
    margin-right: 20px;
}
.footer-nav li:last-child,
.social-icons li:last-child  {
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
    list-style: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav li a:active,
.footer-nav li a:hover {
    color: rgb(197, 197, 197);
}
.social-icons li a:link,
.social-icons li a:visited {
    font-size: 160%;
}
.ig:hover,
.fb:hover,
.lin:hover {
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.ig:hover {
    color: #517fa4;
}
.fb:hover {
    color: #3b5998;
}
.lin:hover {
    color: #2867B2;
}
footer p {
    color: #888;
    text-align: center;
}
footer img {
    width: 100%;
    height: auto;

}


/*------------------------------------------------------*/
/*Animations*/
/*------------------------------------------------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
.js--wp-4 {-webkit-animation-duration: 1s;animation-duration: 1s;}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}
